* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anek Bangla", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(17, 0, 36, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  font-size: 20px;

  position: fixed;
  z-index: 100; /*deixar nav bar fixa*/
}

.nav-bar .navBar-itens ul {
  list-style: none;
  text-align: center;
  display: flex;
}

.nav-bar .navBar-itens li {
  color: #000;
  text-align: center;
  margin: 70px;
  position: relative;
  font-size: 20px;
}

.navBar-itens a {

  text-align: center;
  text-decoration: none;
  color: #17003b;
  transition: ease-in;
}
.navBar-itens a:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
font-weight: 600;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
/* HOME PAGE
/*da para colocar a imagem de fundo aqui*/
.container-home-page {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: flex-end;
  /* background-image: url(imgs/header.png); */
  background-size: cover;
  margin-bottom: 200px;
  box-shadow: 3px 3px 3px #000;
}

.title-home .titulo{
  margin-top: 5%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 200px;
}
.text-animation{
  display: flex;
  justify-content: center;
  margin-left:35% ;
}




.title-home .text-animation h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 200;
  font-family: "NBC Tinker", sans-serif;
  margin-bottom: 17px;
}

.title-home .word {
  position: absolute;
  width: 220px;
  opacity: 0;
  
}
.title-home span{
  margin-bottom: 90px;
}

.title-home p {

font-size: 30px;
margin-bottom: 90px;


}
.letter {
  display: inline-block;

  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;

}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #1623d3;
}

.pomegranate {
  color: #2d0061;
}

.container-home-page .img-header {
  width: 100vw;
  height: 80px;
  background-color: #081027;

  justify-content: center;
  align-items: baseline;
}

.container-home-page .img-header img {
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #000;
  border-radius: 4px;
  align-items: end;
}
/*SOBRE MIM*/
.container-sobre {
  margin-top: 25%;
  position: absolute;
  display: flex;
  height: 750px;
  width: 100%;
  justify-content: center;
}
.section-sobre {
  margin-top: 6%;
  margin-right: 55%;
  padding-top: 5%;
  display: flex;
  height: 300px;
  width: 530px;
  border: 3px solid rgba(63, 63, 63, 0.041);
  border-radius: 10px;
  transition: 6ms ease-in-out;
  cursor: pointer;
}

.section-sobre:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 450px;
}
.container-sobre .section-sobre h1 {
  padding-bottom: 5px;
  font-size: 30px;

  text-align: center;
}

.container-sobre .section-sobre p {
  border-radius: 50px 1px;
  width: 550px;
  font-size: 15px;
  text-indent: 2em;
  font-weight: 500;
  padding-left: 10%;
  padding-right: 5%;
}

.text2::before {
  content: "Ler mais...";
  color: #000;
  font-weight: 600;
}

.text2:hover:before {
  opacity: 0;
}

.text2 {
  color: #fff;
}

.text2:hover {
  color: #000000;
  transition: 0.3s ease-in;
}

/*PAGINA DE ESTUDOS*/

.container-estudos {
  margin-top: 50px;
  top: 55%;
  position: absolute;
  display: flex;
  height: 1010px;
  width: 100%;
  justify-content: center;
}
.container-estudos h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}

/*Lista/card de tecnlogias e projetos*/
.container-estudos .estudos-tecnologia,
.estudos-projetos {
  margin-top: 30px;
 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-estudos .estudos-tecnologia ul {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px;
  width: 280px;
  height: 397px;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
}

.estudos-tecnologia ul:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 400px;
}

.container-estudos .estudos-tecnologia img {
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;

  width: 100px;
  height: 100px;
}

.container-estudos .estudos-tecnologia li {
  list-style: none;
  text-align: center;
}

.container-estudos .estudos-tecnologia p {
  text-align: center;
  text-indent: 1em;
  padding: 10px;
}

.container-estudos .estudos-projetos ul {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px;
  width: 280px;
  height: 195px;
  justify-content: center;
  align-items: center;
}

.container-estudos .estudos-projetos li {
  list-style: none;
  text-align: center;
}

.container-estudos .estudos-projetos img {
  display: flex;
  align-items: baseline;
  align-content: baseline;
  justify-content: baseline;
  margin: auto;
  margin-top: 10px;

  width: 270px;
  height: 140px;
}
/*CONTATOS - FOOTER DA PAGINA*/
footer {
  top: 100%;
  margin-top: 790px;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 280px;
  width: 100vw;

  padding: 20px;
  background: url(imgs/bg.png);
  box-shadow: -3px -3px 3px #081027;
}

.lista-informacoes {
  display: flex;
  justify-content: space-around;
}

.col-infos,
.col-links,
.social-icons {
  text-align: center;
  flex: 1;
  margin: 15px;
  color: #fff;
}
.col-infos {
  width: 900px;
}
.col-infos p {
  font-size: 17px;
  text-align: start;
  padding-top: 1px;
}
.col-links a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.col-links a:hover {
  background-size: 0 1px, 100% 3px;
}

.social-icons ul {
  align-items: center;
}
.lista-informacoes li {
  border: 10px;
  list-style: none;
  margin: 0;
  text-align: center;
}

.list li {
  margin-bottom: 10px;
}

.fa-brands {
  margin: auto;
  text-align: center;
  font-size: 24px;
  margin-right: 10px;

  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}
.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 1px;
  text-decoration: none;
  color: #fff;
}

.social-icons a:hover {
  text-shadow: 1px 1px 2px #646464;
}
.lista-informacoes .social-icons ul {
  margin-top: 10px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.fa-brands {
  display: flex;
  font-size: 25px;
}
.social-icons {
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}
