@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wdth,wght@75..125,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Noto+Sans+Bengali:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #f1faff;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: "Lexend", sans-serif;
}

nav.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  background: #0d1549;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.226);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  font-size: 20px;
  position: fixed;
  z-index: 100;
  margin-bottom: 35%;
}

ul.nav-bar-list {
  display: flex;
  align-content: center;
  justify-content: center;

  gap: 40px;
  list-style: none;
}

a.nav-link {
  font-family: "Didact Gothic", sans-serif;
  display: flex;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  transition: 0.2s ease-in;
}

a.nav-link:hover {
  color: #6294f1;
}
a.nav-link:active {
  color: #011333;
}

.btn-curriculo a.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  padding: 8px 12px;
  background-color: #2759d6;
  border-radius: 3px;
  gap: 8px;
}

.btn-curriculo a.nav-link ion-icon {
  font-size: 20px;
  color: #fff;
}

.nav-bar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

a.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
/* Main Content */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.apresentation-container,
.social-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.title-apresentation {
  font-family: "Lexend", sans-serif;
  width: 60vw;
  word-wrap: break-word;

  h1 {
    font-size: 40px;
    font-weight: 300;
  }

  p {
    margin-top: 8px;
    font-size: 12px;
    color: #616161;
    width: 45vw;
    font-family: "Didact Gothic", sans-serif;
  }
}
.image-dev {
  display: flex;
}

img.pfp-pic {
  margin-left: 14px;
}

img.pfp {
  position: absolute;
  margin-top: 20px;
  margin-right: 5px;
  width: 260px;
  height: 320px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  border-radius: 4px;
}

ul.social-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 85vw;
  margin-left: 5%;
  gap: 23px;

  li {
    list-style: none;
    padding: 5px;
    background-color: #e9f0fe;
    border-radius: 3px;
    transition: 0.1ms ease-in;
    ion-icon {
      width: 36px;
      height: 30px;
      color: #2759d6;
    }
  }
  :hover {
    background-color: #d6e3fd;
  }
}

.stacks-section,
.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}

.stacks-section h1,
.projects-section h1,
.experiences-section h1 {
  font-size: 40px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3%;
}

.container-tools ul {
  display: flex;
  align-items: start;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container-tools li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  border: 1px solid #2759d6;
  background-color: #e9f0fe;
  border-radius: 3px;

  height: 140px;
  padding: 15px 50px;
  text-align: center;
  aspect-ratio: 16/9;
}

.container-tools img {
  margin: auto;
  margin-top: 10px;
  display: flex;
  text-align: center;
  width: 100px;
  height: 100px;
  width: 80px;
  height: 80px;
}

.projects-section {
  background-color: #070e39;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 5%;
  padding: 30px 0;
}

.container-projects {
  width: 90vw;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.container-projects ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-projects li {
  background-color: #1d1d1d;
  width: 90vw;
  color: #fff;
  padding: 3%;
  list-style: none;
  border-radius: 9px;
}
.container-projects h4 {
  margin-bottom: 15px;
}

.container-projects i {
  margin-bottom: 15px;
  font-size: 20px;
  margin-left: 4px;
}

.container-projects p {
  font-size: 14px;
  margin-bottom: 1%;
}

.container-projects span {
  a {
    color: #e9f0fe;
    transition: 0.1s ease-in;
  }
  a:hover {
    color: #6294f1;
  }
  a:active {
    color: #6294f1;
  }
}

i.fa-html5 {
  color: #f26529;
}
i.fa-css3 {
  color: #2a65f0;
}
i.fa-bootstrap {
  color: #8d1afb;
}
i.fa-php {
  color: #7b7fb5;
}
i.fa-js {
  color: #f7e018;
}
i.fa-node-js {
  color: #52a044;
}

i.fa-angular {
  color: #de0837;
}
i.fa-java {
  color: #fd4c39;
}

.experiences-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 0 20px;
}

.container-experiences ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  h4 {
    text-align: center;
    margin-bottom: 3px;
    transition: 0.3s ease-in;
  }
  a:hover {
    color: #112968;
  }

  .line {
    width: 80%;
    border: 1px solid #2759d6;
    margin: 0 auto;
    margin-bottom: 9px;
  }

  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 3px solid #070e39ed;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    max-width: 540px;
    height: auto;
    font-weight: 400;
  }

  ol {
    margin-top: 3px;
  }

  a {
    text-decoration: none;
    color: #1d1d1d;
  }
  a.link-project {
    text-decoration: underline;
    color: #00598d;
  }

  h5 {
    margin: 10px 0 5px 0;
    font-size: 17px;
  }
}

.description-experiences {
  overflow-y: scroll;
  height: 80px;
  word-wrap: break-word;

  p {
    text-align: justify;
    padding: 3px;
  }
}

.description-experiences::-webkit-scrollbar {
  width: 2px;
}

.description-experiences::-webkit-scrollbar-track {
  background-color: rgba(0, 195, 255, 0.288);
}

.description-experiences::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 31x solid rgba(255, 166, 0, 0.534);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5%;
  background-image: url("assets/imgs/Gradient-footer.svg");
  background-size: cover;
}

.lista-informacoes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  color: #e9f0fe;
  gap: 280px;
}

.lista-informacoes h3 {
  text-align: center;
  margin-bottom: 4px;
}

.col-infos p {
  font-size: 16px;
  text-align: start;
  padding-top: 1px;
}

.col-links {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.col-links ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
}
.col-links li {
  list-style: none;
}

.col-links a {
  text-decoration: none;
  color: #fff;
}

.col-links a:hover {
  background-size: 0 1px, 100% 3px;
}

.list li {
  margin-bottom: 10px;
}

.social-icons .fa-brands {
  margin: auto;
  font-size: 24px;
  margin-right: 10px;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

.social-icons .fa-brands:hover {
  color: #2759d6;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 1px;
  color: #fff;
}

.social-icons a:hover {
  text-shadow: 1px 1px 2px #2759d6;
}

.fa-brands {
  display: flex;
  font-size: 25px;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.social-icons li {
  display: inline-block;
}

/* Responsividade */

/* Telas pequenas (mobile) */
@media (max-width: 768px) {
  nav.nav-bar {
    display: none;
  }
  .nav-bar-list {
    display: none;
  }

  main.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 10vh;
  }
  .apresentation-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .social-cards {
    display: flex;
    align-items: center;

    justify-content: center;
    margin-top: 10vh;
  }
  .social-list {
    display: flex;
    align-items: center;

    justify-content: center;
  }

  .title-apresentation {

    font-family: "Lexend", sans-serif;
    display: flex;
    width: 80vw;
    flex-direction: column;
    margin-top: 12%;
    h1 {
      font-size: 34px;
      font-weight: 300;
      width: 60vw;
    
    }
    br {
      display: none;
    }

    p {
      margin-top: 8px;
      font-size: 14px;
      color: #424242;
      width: 100%;
      font-family: "Didact Gothic", sans-serif;
      font-weight: 400;
      text-align: justify;
    }
  }
  .image-dev {
    margin-top: 10%;
    display: flex;
  }

  img.pfp-pic {

    height: 325px;
  }

  img.pfp {
    position: absolute;
    margin-top: 20px;
    margin-right: 5px;
    width: 242px;
    height: 310px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-radius: 4px;
  }

  ul.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    gap: 23px;

    li {
      list-style: none;
      padding: 5px;
      background-color: #e9f0fe;
      border-radius: 3px;
      transition: 0.1ms ease-in;
      ion-icon {
        width: 36px;
        height: 30px;
        color: #2759d6;
      }
    }
    :hover {
      background-color: #d6e3fd;
    }
  }

  .experiences-section {
    margin: 15% 0;
  }

  .container-experiences ul {
    flex-direction: column;
    gap: 20px;
  }

  .container-experiences ul li {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .description-experiences {
    height: auto;
    overflow-y: visible;
  }

  .lista-informacoes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    color: #e9f0fe;
    gap: 30px;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .stacks-section h1,
  .projects-section h1,
  .experiences-section h1 {
    margin-bottom: 7%;
    padding: 0 10px;
  }
}

/* Telas médias (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  nav.nav-bar {
    display: none;
  }
  .nav-bar-list {
    display: none;
  }

  main.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 10vh;
  }
  .apresentation-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .social-cards {
    display: flex;
    align-items: center;

    justify-content: center;
    margin-top: 10vh;
  }
  .social-list {
    display: flex;
    align-items: center;

    justify-content: center;
  }

  .title-apresentation {

    font-family: "Lexend", sans-serif;
    display: flex;
    width: 80vw;
    flex-direction: column;
    margin-top: 12%;
    h1 {
      font-size: 34px;
      font-weight: 300;
      width: 60vw;
    
    }
    br {
      display: none;
    }

    p {
      margin-top: 8px;
      font-size: 14px;
      color: #424242;
      width: 100%;
      font-family: "Didact Gothic", sans-serif;
      font-weight: 400;
      text-align: justify;
    }
  }
  .image-dev {
    margin-top: 10%;
    display: flex;
  }

  img.pfp-pic {

    height: 325px;
  }

  img.pfp {
    position: absolute;
    margin-top: 20px;
    margin-right: 5px;
    width: 242px;
    height: 310px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    border-radius: 4px;
  }

  ul.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    gap: 23px;

    li {
      list-style: none;
      padding: 5px;
      background-color: #e9f0fe;
      border-radius: 3px;
      transition: 0.1ms ease-in;
      ion-icon {
        width: 36px;
        height: 30px;
        color: #2759d6;
      }
    }
    :hover {
      background-color: #d6e3fd;
    }
  }

  .experiences-section {
    margin: 15% 0;
  }

  .container-experiences ul {
    flex-direction: column;
    gap: 20px;
  }

  .container-experiences ul li {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .description-experiences {
    height: auto;
    overflow-y: visible;
  }

  .lista-informacoes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    color: #e9f0fe;
    gap: 30px;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .stacks-section h1,
  .projects-section h1,
  .experiences-section h1 {
    margin-bottom: 7%;
    padding: 0 10px;
  }
}
